[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
